[Certs]
BrokerCertChain=C:\Users\cystock\Desktop\certificates\brokercerts.crt
CertFile=C:\Users\cystock\Desktop\certificates\ca.crt
PrivateKey=C:\Users\cystock\Desktop\certificates\ca.key

[Brokers]
{0851fc5a-4fb7-11e7-32c3-005056a51e72}={0851fc5a-4fb7-11e7-32c3-005056a51e72};8883;dxlbroker310580.mcafee;10.218.68.110
